.in{margin-top:-10px;
width:300px;}
#in{
margin-top:10px;
background-color:#64A600;
height:40px;}
.sign{
background-color:#eeeeee;
margin-left:200px;
margin-right:200px;}
footer{
background-color:#EEEEEE;
}
#footer{
text-align:center;
font-size:12px;
margin-top:220px;
}
